* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
   }

   .active-link {
    color: white; 
  
  }
   .navbar {
    background-color: rgb(50, 47, 47);
    color: white;
    padding: 10px;
   }
   .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600;
    margin: 0px auto;
    font-size: 35px;
    list-style: none;
   }
   .navbar ul li {
    margin: 10px;
   }