.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
  }

  .container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .card-container{
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
  }

  .card-container h1 {
    justify-content: center;
    text-align: center;

  }

  
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
    background-color: lightgrey;
    }
    
    .card-body.add-task{
    background-color: lightblue;
    cursor: pointer; 
    width: 270px;
    flex-grow: 1;
    padding-left: 10px;
    justify-content: center;  
    }

  
    .task-content{
      flex-grow: 1;
      padding-left: 10px;
    }
  .delete{
    display: flex;
    background-color: lightcoral;
    border-radius: 6px;
    border-width: 1px;
    width: 15px;
    height: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
  }

  .delete-container{
    padding-right: 10px;
  }

  ul{
  list-style: none;
} 