
.horizontal{
    display: flex;
    flex-direction: row;
    margin: auto;
}



#checkbox{
    width: 20%;
    height: 30px;    
    accent-color: #9b59b6;
}



.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}